[submodule "common/github/KiCad-RP-Pico"]
	path = common/github/KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico.git
[submodule "firmware/external/lcd"]
	path = firmware/external/lcd
	url = https://github.com/Beirdo/RPI-PICO-I2C-LCD.git
[submodule "firmware/external/eeprom"]
	path = firmware/external/eeprom
	url = https://github.com/Beirdo/micropython_eeprom.git
